@use "base/variables" as v;
@use "base/mixins" as m;

.shortcuts{
  &__grid{
    display: flex;
    flex-direction: column;
  }
}
.shortcut{
  display: flex;
  column-gap: 1.5rem;
  &__key{
    text-align: center;
    font-weight: 700;
  }
}

.print{
  margin-top: 2.5rem;
  margin-inline: auto;
  padding: 1.2rem;
  display: block;
  text-transform: capitalize;
  border-radius: 2rem;
  border: none;
  background-color: #99582a;
  width: 80%;
  color: v.$white;
  cursor: pointer;

  &:hover{
    background-color: darken(#99582a, 15%);
    transition: 300ms ease-in-out;
  }

  @media (max-width: 976px) {
    display: none;
  }
}